<div class="blog-post">
     <h2 class="blog-title" data-id="{{blog.id}}">{{blog.title}}</h2>
     <p class="blog-content">{{blog.content}}</p>
     <p class="blog-author">Posted by: {{blog.user.username}}</p>
     <p class="blog-date">Date: {{blog.date_created}}</p>
     <p>logged in user:{{loggedInUser_id}}</p>
     <p>blog user:{{blog.user_id}}</p>
     <p>blog.id: {{blog.id}}</p>
     {{#isEqual blog.user_id loggedInUser_id}}
          <button class="btn btn-primary" id="edit-blog" data-id="{{blog.id}}">Edit</button>
          <button class="btn btn-danger" id="delete-blog" data-id="{{blog.id}}">Delete</button>
     {{/isEqual}}

     {{#each blog.comments}}
          <div class="comment">
               <p class="comment-content">{{this.comment_text}}</p>
               <p class="comment-author">Comment by: {{this.user.username}}</p>
               <p class="comment-date">Date: {{this.date_created}}</p>
          </div>
     {{/each}}
</div>
<script src="/js/blog.js"></script>