<h1>Dashboard</h1>
<h3>My Blogs</h3>
<a href="/newBlog">Create a New Blog</a>
{{#each blogs}}
     <div class="blog">
          <h2 class="blog-title" data-id="{{this.id}}">{{this.title}}</h2>
          <p>{{this.content}}</p>
          <p>Posted by: {{this.user.username}}</p>
          <p>Date: {{this.date_created}}</p>
          {{#isEqual blog.user_id loggedInUser_id}}
               <button class="btn btn-primary" id="edit-blog" data-id="{{this.id}}">Edit</button>
               <button class="btn btn-danger" id="delete-blog" data-id="{{this.id}}">Delete</button>
          {{/isEqual}}

     </div>
{{/each}}
<script src="/js/blog.js"></script>