{{!-- for each blog, display the blogs contents --}}
{{#each blogs}}
     <div class="blog-post">
          <h2 class="blog-title" data-id="{{this.id}}">{{this.title}}</h2>
          <p class="blog-content">{{this.content}}</p>
          <div class="createdInfo">
               <p class="blog-author">Posted by: {{this.user.username}}</p>
               <p class="blog-date">Date: {{formatDate this.date_created}}</p>
          </div>
     </div>
{{/each}}
<script src="/js/homepage.js"></script>