

<div class="newComment">
     <h2 class="blog-title" data-id="{{blog.id}}">{{blog.title}}</h2>
     <p class="blog-content">{{blog.content}}</p>
     <p class="blog-author">Posted by: {{blog.user.username}}</p>
     <p class="blog-date">Date: {{blog.date_created}}</p>

     <h3>Add a Comment</h3>
     <form id="add-comment-form" class="blog-post-edit">
          <div class="form-group">
               <label class="blog-content" for="comment-text">Comment:</label>
               <textarea class="form-control comment-content" rows="5" id="comment-text"></textarea>
          </div>
          <button type="submit" class="btn btn-primary" id="add-comment" data-id="{{blog.id}}">Submit</button>
     </form>
</div>
<script src="/js/newComment.js"></script>